@model EmployeeViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Employee Entry</title>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</head>
<body>
    <h3>Employee Entry Form</h3>
    <form action="/position/entry" method="post">
        <div class="mb-3">
            <label for="Code" class="form-label">Code</label>
            <input type="text" class="form-control" name="Code" id="txtCode" placeholder="Type department code in here" required>
        </div>
        <div class="mb-3">
            <label for="Name" class="form-label">Name</label>
            <input type="text" class="form-control" name="Name" id="txtName" placeholder="Type position name here" required>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <input type="text" class="form-control" name="Description" id="txtDescription" placeholder="Type position description here" required>
        </div>
            <div class="mb-3">
                <label for="description" class="form-label">Department</label>
                <select class="form-select" name="Department">                
                    <option selected>Select the department</option>
                    @foreach (var department in Model.DepartmentViewModels)
                    {
                        <option value="@department.Id">@department.Code</option>
                    }
                </select>
             </div>
            <div class="mb-3">
                <label for="description" class="form-label">Position</label>
                <select class="form-select" name="Position">
                    <option selected>Select the Position</option>
                    @foreach (var position in Model.PositionViewModels)
                    {
                        <option value="@position.Id">@position.Name</option>
                    }
                </select>
            </div>
            <div class="mb-3">
                <label for="BasicSalary" class="form-label">Basic Salary</label>
                <input type="number" class="form-control" name="BasicSalary" id="txtBasicSalary" placeholder="type employee Basic Salary in here">
            </div>
            <div class="mb-3">
                <label for="DOR" class="form-label">DOB</label>
                <input type="date" class="form-control" name="DOR" id="txtDOB" placeholder="type employee date of birth in here">
            </div>
            <div class="mb-3">
                <label for="DOE" class="form-label">DOE</label>
                <input type="date" class="form-control" name="DOE" id="txtDOE" placeholder="type employee DOE in here" required>
            </div>
            <div class="mb-3">
                <label for="DOR" class="form-label">DOR</label>
            <input type="date" class="form-control" name="DOR" id="txtDOR" placeholder="type employee date of retirement in here">
            </div>
            <div class="mb-3">
                <label for="Phone" class="form-label">Phone</label>
                <input type="text" class="form-control" name="Phone" placeholder="type Phone in here">
            </div>
            <div class="mb-3">
                <label for="Address" class="form-label">Address</label>
                <input type="text" class="form-control" name="Address" placeholder="type Address in here">
            </div>
        <button type="submit" class="btn btn-success" id="btnEntry" disabled>Entry</button>
        <button type="reset" class="btn btn-primary">Cancel</button>
    </form>

    <script>
        $(document).ready(function () {
            //initially disable the entry button
            $('#btnEntry').attr('disabled', true);
            //function defination
            function toggleEntryButton() {
                if ($('#txtName').val().length != 0 && $('#txtCode').val().length != 0) {
                    $('#btnEntry').attr('disabled', false);
                } else {
                    $('#btnEntry').attr('disabled', true);
                }
            }
            $('#txtName, #txtCode').keyup(function () {
                toggleEntryButton();
            });
        });
    </script>
</body>
</html>
